.locutor-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.radio-programa {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 15%;
    gap: 10%;
}
.radio-programa h2 {
    font-family: Prompt, sans-serif;
    font-weight: 500;

}
.radio-programa img {
    width: 8rem;
}
.locutor-img {
    height: 80%;
}



@media (min-width: 1100px) {

}
@media (min-width: 768px) {

    .radio-programa {
        margin: 0;
        justify-content: center;
        gap: 20%;
    }
    .radio-programa img {
        width: 11rem;
    }
    .radio-programa h2 {
        font-size: 2rem;
    }
}

@media (min-width: 400px) {
    .locutor-container {
        width: 100%;
    }
}