.locutor-container {
    height: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.locutor-container img {
    height: 80%;
}

@media (min-width: 768px) {
    .locutor-container img {
        height: 100%;
    }
}