.button-controller {
  display: flex;
}

.play,
.pause {
  background-color: #dc202a;
  height: 4rem;
  width: 11rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(.9);
}

.play.active {
  background-color: #c21e26;
    transform: scale(1);

}

.pause.active {
  background-color: #c21e26;
    transform: scale(1);

}

.play svg,
.pause svg {
  height: 2.5rem;
  color: white;
}

@media (max-width: 500px){
  .play, .pause {
    height: 3rem;
    width: 9rem;
  }
}