.footer-component {
  overflow: hidden;
  background-color: #343638;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-component p {
  font-family: 'Prompt', sans-serif;
  font-size: 1.3rem;
  color: white;
}
.img-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.volume-bar-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-component img {
  width: 65%;
}
.redes-logos-div {
  display: flex;
  justify-content: space-between;
}
.redes-container .redes {
  width: 2rem;
  height: 2rem;
}
.volume-buttons {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.redes-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
@media (min-width: 500px){
  .img-footer-container img {
    width: 45%;
  }
}

@media (min-width: 768px) {
.footer-component {
  display: flex;
}
  .footer-component p {
    font-size: 2.6rem;
  }
  .img-footer-container img{
    width: 40%;
  }

  .volume-buttons {
    height: 1.3rem;
    width: 1.3rem;
  }
}

@media (min-width: 1260px) {
  .footer-component{
    align-items: flex-start;
    margin-top: 2rem;
  }
  .img-footer-container {
    display: flex;
    justify-content: center;
  }
  .img-footer-container img {
    width: 28%;
  }
  .img-footer-container p {
    font-size: 1.6rem;
  }
  .img-footer-container {
    gap: 0;
  }
}

@media (min-width: 900px){
  .footer-component img {
    width: 25%;
  }
}